.content {
  height: 2000px;
  background-color: lightgray;
}
/* sticky = relative + fixed */
.sticky {
  height: 100px;
  width: 100%;
  background-color: lightgreen;
  position: sticky;
  top: 0px;
}
.header {
  height: 200px;
  background-color: lightblue;
}
