.box-1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 2rem;
}
/* relative 포지션 */
/* 기본적으로는 static 처럼 배치 */
/* 이동속성(top, left, boom, right)을 부여 */
/* 이동의 기준은 원래 위치를 기준 */
.relative {
  position: relative;
}
/* 왼쪽을 기준으로 요소 이동 */
.left-10 {
  left: 10px;
}
/* absolute 포지션 */
/* 조상요소 (relative,absolute, fixed) 필요 */
/* 위치(top,left,right,bottom) 속성으로 이동 */
/* 다른 요소에 영향을 주지 않는다 */
.parent-box {
  position: relative;
  height: 300px;
  background-color: lightblue;
}
.box-2 {
  width: 100px;
  height: 100px;
  background-color: lightgray;
}
.absolute {
  position: absolute;
}
.top-50 {
  top: 50px;
}
.right-50 {
  right: 50px;
}
/* fixed 포기션 */
/* 위치값에 의해 고정 되는 포지션*/
.box-3 {
  width: 100%;
  height: 200px;
  background-color: lightgreen;
}
.fixed {
  position: fixed;
  bottom: 0px;
}
